body {
  background: linear-gradient(to right bottom, lightblue, blue);
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem;
}

.card {
  min-width: 500px !important;
}

@media screen and (min-width: 600px) {
  .card {
    width: 95% important;
    min-width: none !important;
  }
}
